#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  cursor: default;
  padding: 0 15px;
}
.header-title {
  color: #1e90ff;
  font-size: 1.4rem;
  text-align: left;
}